<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymy.dao.DepartMapper">
    <select id="queryAllDepart" resultType="com.ymy.model.Department">
        select * from T_DEPART
    </select>
    <select id="queryDepart" resultType="com.ymy.model.Department">
        select d.D_ID,d.D_NAME,d.D_CREATETIME,
        p.P_ID,p.P_NAME,P_CREATETIME
        from T_DEPART d,T_POSITION p
        where d.D_ID=p.D_ID
        and d.D_ID=#{d_id}
    </select>
    <resultMap id="departMap" type="com.ymy.model.Department">
        <id property="d_id" column="D_ID"/>
        <result property="d_name" column="D_NAME"/>
        <result property="d_createTime" column="D_CREATETIME"/>
        <collection property="positionSet" ofType="com.ymy.model.Position">
            <id property="p_id" column="P_ID"/>
            <result property="p_name" column="P_NAME"/>
            <result property="p_createTime" column="P_CREATETIME"/>
        </collection>
    </resultMap>
    <insert id="addDepart">
        insert into T_DEPART VALUES (S_DEPART.nextval,#{d_name},#{d_createTime})
    </insert>
    <delete id="deleteDepart">
        DELETE FROM T_DEPART WHERE D_ID=#{d_id}
    </delete>
    <update id="updateDepart">
        update T_DEPART SET D_NAME=#{d_name}
    </update>
</mapper>