<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymy.dao.EmployeeMapper">
    <select id="queryAll" resultType="com.ymy.model.Employee">
        select * from T_EMP
    </select>
    <select id="queryEmp" resultMap="empMapper">
        select e.E_ID,e.E_NAME,e.E_PASS,e.E_SEX,e.E_BIRTH,e.E_EMAIL,
        e.E_PHONE,e.E_LIVINGPLACE,e.E_ADDRESS,e.E_ENTRYTIME,e.E_SALARY,e.E_STATE,
        d.D_ID,d.D_NAME,d.D_CREATETIME,
        p.P_ID,p.P_NAME,p.P_CREATETIME
        from T_EMP e,T_DEPART d,T_POSITION p
        <where>
            e.D_ID=d.D_ID and e.P_ID=p.P_ID
            and E_NAME=#{e_name}
            <if test="null!=e_pass and ''!=e_pass">
                and E_PASS=#{e_pass}
            </if>
        </where>
    </select>
    <select id="queryByDept" resultMap="empMapper">
        select e.E_ID,e.E_NAME,e.E_PASS,e.E_SEX,e.E_BIRTH,e.E_EMAIL,
        e.E_PHONE,e.E_LIVINGPLACE,e.E_ADDRESS,e.E_ENTRYTIME,e.E_SALARY,e.E_STATE,
        d.D_ID,d.D_NAME,d.D_CREATETIME,
        p.P_ID,p.P_NAME,p.P_CREATETIME
        from T_EMP e,T_DEPART d,T_POSITION p
        where e.D_ID=d.D_ID and e.P_ID=p.P_ID
        and d.D_ID=#{d_id}
    </select>
    <select id="queryByPs" resultType="com.ymy.model.Employee">
        select * from T_EMP WHERE P_ID=#{p_id}
    </select>
    <resultMap id="empMapper" type="com.ymy.model.Employee">
        <id property="e_id" column="E_ID"/>
        <result property="e_name" column="E_NAME"/>
        <result property="e_pass" column="E_PASS"/>
        <result property="e_sex" column="E_SEX"/>
        <result property="e_birth" column="E_BIRTH"/>
        <result property="e_email" column="E_EMAIL"/>
        <result property="e_phone" column="E_PHONE"/>
        <result property="e_livingPlace" column="E_LIVINGPLACE"/>
        <result property="e_address" column="E_ADDRESS"/>
        <result property="e_entryTime" column="E_ENTRYTIME"/>
        <result property="e_salary" column="E_SALARY"/>
        <result property="e_state" column="E_STATE"/>
        <association property="department" column="D_ID" javaType="com.ymy.model.Department">
            <id property="d_id" column="D_ID"/>
            <result property="d_name" column="D_NAME"/>
            <result property="d_createTime" column="D_CREATETIME"/>
        </association>
        <association property="position" column="P_ID" javaType="com.ymy.model.Position">
            <id property="p_id" column="P_ID"/>
            <result property="p_name" column="P_NAME"/>
            <result property="p_createTime" column="P_CREATETIME"/>
        </association>
    </resultMap>

    <insert id="addEmployee">
        insert into T_EMP values(S_EMP.nextval,#{e_name},#{e_pass},#{e_sex},
        #{e_birth},#{e_email},#{e_phone},#{e_livingPlace},#{e_address},#{e_entryTime},#{department.d_id},
        #{position.p_id},#{e_salary},#{e_state})
    </insert>

    <delete id="deleteEmployee">
        delete from T_EMP where E_ID=#{e_id}
    </delete>

    <update id="updateEmployee">
        update T_EMP
        <set>
            <if test="null!=e_pass and ''!=e_pass">
                E_PASS=#{e_pass},
            </if>
            <if test="null!=e_email and ''!=e_email">
                E_EMAIL=#{e_email},
            </if>
            <if test="null!=e_livingPlace and ''!=e_livingPlace">
                E_LIVINGPLACE=#{e_livingPlace},
            </if>
            <if test="null!=e_phone and ''!=e_phone">
                E_PHONE=#{e_phone},
            </if>
            <if test="null!=department and ''!=department">
                D_ID=#{department.d_id},
            </if>
            <if test="null!=positon and ''!=position">
                P_ID=#{position.p_id},
            </if>
            <if test="0!=e_salary">
                E_SALARY=#{e_salary},
            </if>
            <if test="e_state!=0">
                E_STATE=#{e_state},
            </if>
        </set>
        where E_ID=#{e_id}
    </update>
</mapper>