<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymy.dao.PositionMapper">
    <insert id="addPosition">
        insert into T_POSITION VALUES (S_POSITION.nextval,#{p_name},#{p_createTime},#{department.d_id})
    </insert>

    <select id="queryByDepart" resultType="com.ymy.model.Position">
        select P_ID,P_NAME,P_CREATETIME from T_POSITION
        where D_ID=#{d_id}
    </select>

    <select id="queryAllDepart" resultType="com.ymy.model.Position">
        select P_ID,P_NAME,P_CREATETIME,D_ID from T_POSITION
    </select>

    <delete id="deletePosition">
        delete from T_POSITION where P_ID=#{p_id}
    </delete>

    <update id="updatePosition">
        update T_POSITION SET P_NAME=#{p_name}
        where P_ID=#{p_id}
    </update>
</mapper>