<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymy.dao.SalaryMapper">
    <insert id="addSalary">
        insert into T_SALARY VALUES (
        S_SALARY.nextval,#{s_basic},#{s_reward},
        #{s_security},#{s_time},#{employee.e_id}
        )
    </insert>
    <select id="queryByEmp" resultType="com.ymy.model.Salary">
        select S_ID,S_BASIC,S_REWARD,S_SECURITY,S_TIME
        from T_SALARY
        where E_ID=#{e_id}
    </select>
</mapper>